<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pearyapp.peary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:name=".PearyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".login.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.pearyapp.peary.login.LOGINACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <activity
            android:name=".login.CreateAccountActivity"
            android:label="@string/app_name"
            android:parentActivityName=".login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".login.LoginActivity" />
        </activity>
        <activity
            android:name=".login.ResetPasswordActivity"
            android:label="@string/app_name"
            android:parentActivityName=".login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".login.LoginActivity" />
        </activity>

        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.pearyapp.peary.MAINACTIVITY" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ProductDetails"
            android:label="@string/add_product"
            android:theme="@style/AppTheme.Base">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pearyapp.peary.MainActivity" />
            <intent-filter>
                <action android:name="com.pearyapp.peary.PRODUCTDETAILS" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pearyapp.peary.MainActivity" />
        </activity>

        <activity
            android:name=".sharing.AddFriendActivity"
            android:label="@string/title_activity_add_friend"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pearyapp.peary.MainActivity" />
        </activity>

        <service
            android:name=".services.NotificationService"
            android:exported="false" />
    </application>

</manifest>